
<ion-view view-title="{{month}}" ng-model="month">

  <ion-content overflow-scroll="false">
    <!-- <div class="row calendar padding" style="flex-wrap: wrap;">
      <div class="col-15" ng-repeat="i in getDays(days) track by $index">
        {{$index + 1}}
      </div>

      </div>
    </div> -->
<center>


    <table class="calendar" cellspacing="0" cellpadding="0">
 <colgroup span="7"></colgroup>

 <tbody class="calendar">
   <tr class="days">
     <th scope="col col-15" title="Sunday">Sun</th>
     <th scope="col col-15" title="Monday">Mon</th>
     <th scope="col col-15" title="Tuesday">Tue</th>
     <th scope="col col-15" title="Wednesday">Wed</th>
     <th scope="col col-15" title="Thursday">Thu</th>
     <th scope="col col-15" title="Friday">Fri</th>
     <th scope="col col-15" title="Saturday">Sat</th>
   </tr>
   <tr ng-repeat="week in weeks">

       <td ng-click="planner(day)" ng-repeat="day in week track by $index" ng-model="day" class="day col-15" >
         {{day}}
            <!-- <a ng-click="planner(day)" ng-model="day" href="#/dayview">{{day}}</a> -->
            <!-- <div class="smalldot">

            </div> -->
           <!-- After seven iterations a new `<tr>` should be aded -->
      </td>

   </tr>
</tbody>
</table>


</center>


<div ng-show="thisdayview">
  <label class="item item-input">
  <span class="input-label">Date</span>
  <input type="date" ng-model="date">
</label>
  <label class="item item-input">
    <span class="input-label">Plan</span>
    <input type="text" ng-model="plan">
  </label>

<center>

    <label class="item item-input">
      <div>
        Time
      </div>
      <span class="input-label"></span>
      <input type="time" ng-model="time">
    </label>
  </center>

   <!-- <select>
    <option style="text-align: center;" value="am">
      am
    </option>
    <option style="text-align: center;" value="pm">
      pm
    </option>
  </select> -->
  <center>

    <button class="button button-small button-calm button-block col-20" ng-click="add(date, plan, time)">Add</button>
    <button class="button button-small button-calm buttom-block col-30" ng-model='searchDate' ng-click="view(searchDate)">View</button>
  </center>
</div>

<!-- <ion-list ng-show="thisdayview" show-delete="shouldShowDelete" can-swipe="true">
  <div class="row hour"  ng-repeat="hour in hours track by $index" width="100%">
    <div class="col col-10" style="flex-wrap: wrap" width="auto" ng-model="hour">{{hour.hour}}</div>
    <div class="col">
      <ion-item class="hours schedule list-item" ng-click="openModal(hour)">{{hour.plan}} -->
      <!-- <ion-option-button class="button-assertive button-small icon ion-edit"></ion-option-button>
      <ion-option-button class="button-assertive button-small icon ion-trash-a" ng-click="delete(thisevent._id, thisevent.plan)"></ion-option-button> -->
    <!-- </ion-item>
    </div>
  </div>
</ion-list> -->
<!-- {{plan}}
{{hour}}
{{am}} -->



  </ion-content>
</ion-view>
