<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">



          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.username">
          </label>

            <!-- Hidden unless you click register -->
            <label ng-show="register" class="item item-input">
                <input class="hideByDefault" type="email" placeholder="Email" ng-model="user.email">
            </label>

          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
          </label>

            <!-- Hidden unless you click register -->
            <label ng-show="register" class="item item-input">
                <input class="hideByDefault" type="password" placeholder="Confirm Password" ng-model="user.passwordcon">
            </label>

      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>


        <button ng-click="show()" class="button button-block button-clear button-calm">
          Register
        </button>

  </ion-content>
</ion-view>
