<ion-view>
  <ion-nav-title>{{today}}</ion-nav-title>
  <ion-content class="padding">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

    <!-- {{today}} -->
       <div class="to-Day" ng-model="event.date">
              <!-- In order to bind different things to different repeated values,
              you must use an object. It won't work with primitive values-->
          <!-- <ion-list show-delete="shouldShowDelete" can-swipe="true" class="col hour" style="flex-wrap: wrap"   width="100%" ng-init="event.hour = hour.hour; event._id = hour._id; event.date = da; event.plan = hour.plan; event.ampm = hour.time">
            <div style="row hour" ng-model="event._id" ng-repeat="hour in hours track by $index">
              <div class="col col-10" style="flex-wrap: wrap" width="auto" ng-model="event.hour">{{hour.hour}}</div>
              <div class="col col-75">
                <ion-item class="hours schedule" style="" ng-click="openModal(event)">
                  {{hour.plan}}
                  <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(event._id, event.plan)"></ion-option-button>
                </ion-item>
              </div>
            </div>
          </ion-list> -->
          <!-- <ion-toggle ng-model="shouldShowDelete">
            Show Delete?
          </ion-toggle> -->
          <ion-list show-delete="shouldShowDelete" can-swipe="true">
            <div class="row hour"  ng-repeat="hour in hours track by $index" width="100%" ng-init="event.hour = hour.hour; event._id = hour._id; event.date = da; event.plan = hour.plan; event.ampm = hour.time">
              <div class="col col-10" style="flex-wrap: wrap; border-right: 0.5px solid #F0F8FF" width="auto" ng-model="event.hour">{{hour.hour}}</div>
              <div class="col" style="overflow: auto">
                <ion-item class="hours schedule no-padding item-list" style="overflow: none; border-color: rgba(255, 255, 255, 0.4)" max-width="100%" >
                  {{hour.plan}}
                  <ion-option-button ng-click="openModal(event)" class="button-calm button icon ion-edit"></ion-option-button>

                <ion-option-button class="button-assertive icon ion-trash-a item-list" ng-click="delete(event._id, event.plan)"></ion-option-button>
              </ion-item>
              </div>
            </div>
          </ion-list>

      </div>
  </ion-content>
</ion-view>
