/* Empty. Add your own CSS if you like */
ion-content {
  /*background: #EEF8FF*/
  /*background: #F0F8FF */ /*AliceBlue*/
}

.item-list {
  height: 3em
}

.hour {
  border-bottom: 1px solid #77BEEF;
  margin-bottom: 10px;
  color: #77BEEF
}

.hours {
  list-style-type: none;
  width: 100%;
}

.schedule {
  border: none;
  width: 100%;
}

.calendar {
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.col-15 {
  width: 14%;
  justify-content: center;
}

.day {
  border: 1px solid black;
  border-radius: 100px;
  margin: 5px;
  padding: 5px;
}

.item .item-content {
  /*padding: 10px !important;*/
  /*background: #F0F8FF 0!important;*/
}

/*#login {
  background: url("Daily-Planner.jpg");
  z-index: 0;
}*/

/*.smalldot {
  height: 2px;
  width: 2px;
  border: 1px solid green;
}*/
/*This is for modal animation*/
/*.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }*/
